<nav>
  <ul>      
    <li>
      <select id="country" [(ngModel)]="sortingType" name="sortingType" (change)="sortType(sortingType)">
        <option *ngFor="let sort of sortingTypes" [value]="sort.id" >{{sort.type}}</option>
      </select>
    </li>
    <li>
      <input type="text" placeholder="Search" name="searchQuery" (change)="getUsers($event.target.value)" />
    </li>
  </ul>
</nav>


<div class="card" *ngFor="let row of usersData   | paginate: { itemsPerPage: 5, currentPage: p }">
  <div class="card-body">
    <div class="widget-left border-0">
      <div class="media">
        <span class="widget-icon">
          <img src={{row.avatar_url}} alt="">
        </span>
        <div class="media-body align-self-center ml-3">
          <h4 class="text-grey">{{row.login}}</h4>
          <p class="text-muted mb-0">Profile URL: {{row.url}}</p>
          <button  type="button" (click)="getRepo(row.login)" >Details</button>
        </div>
      </div>    
    </div>
  </div>
</div>
<div *ngIf="isCollapsed" class="media-body align-self-center ml-3">
  <table class="table">
    <tbody>
      <tr *ngFor="let repo of userRepository">
        <td>{{repo.name}}</td>
        <td>{{repo.language}}</td>
      </tr>
    </tbody>
   </table>
</div>

<div class="pull-right" *ngIf="this.usersData">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>